# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment folders
venv/
env/

# Ignore dataset files (if they're too large or sensitive)
*.csv
*.xlsx
*.tsv
data/
datasets/

# Ignore images or outputs if not necessary
*.jpg
*.jpeg
*.gif
*.svg
*.pdf
outputs/
